@*<button @onclick="Event1">@Title</button>*@
<br />
<button @onclick="@(() => Event2.InvokeAsync("New value"))">@Title</button>
<br />
@*<br />
    <button @onclick="@((args) => ValueSelected(args, "Value"))">@Title</button>*@
<br />
<button @onclick="Event3">@Title</button>
<br />


@code {

    [Parameter]
    public string Title { get; set; }

    int count = 1;

    [Parameter]
    public EventCallback Event1 { get; set; }

    // Event 2

    [Parameter]
    public EventCallback<string> Event2 { get; set; }

    protected async Task ValueSelected(MouseEventArgs args, string name)
    {
        await Event2.InvokeAsync((string)name);
    }

    // Event 3
    [Parameter]
    public EventCallback<MouseEventArgs> Event3 { get; set; }
}
