@page "/parent"


<div style="border: 1px solid #2523e1; padding: 10px;">
    <h3>Parent Component</h3>
    <CascadingValue Value="@message" Name="MessageFromParent">
        <Child Title="Child component">
            <ChildContent1>
                <h2>Child content</h2>
            </ChildContent1>
            <ChildContent2>
                <h3>Child Content</h3>
                <Button TITem="string" Data="@("Hello world")" OnClickEvent="@((arg) => Click(arg))" />
                <Button TITem="int" Data="@(2)" OnClickEvent="@((arg) => Click(arg))" />
                <br/>
            </ChildContent2>
        </Child>
    </CascadingValue>
</div>



@code {

    string message = "Message from parent component";

    private void Click(object message)
    {
        Console.WriteLine(message);
    }
}
